/* Navbar */

* {
  margin: 0;
  padding: 0;
}

.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  padding-left: 1.7rem;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.navbar-logo {
  color: rgb(204, 204, 204);
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-out;
}

.navbar-logo:hover {
  transition: all 0.2s ease-out;
  color: #fff;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 40px;
  list-style: none;
  text-align: center;
  width: 80vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: rgb(204, 204, 204);
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
  transition: all 0.2s ease-out;
}

.nav-links:hover {
  transition: all 0.2s ease-out;
  color: #fff;
}

.underline-effect {
  display: inline-block;
  position: relative;
  color: #fff;
}

.underline-effect:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-effect:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Home Page */

.home-background {
  width: 100%;
  min-height: calc(100vh - 5rem);
  z-index: -2;
  background: url("../images/home.png");
  background-size: cover;
}

.home-background-content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  text-align: left;
}

.home-background-head {
  text-transform: uppercase;
  margin: 0;
  font-size: 5rem;
  white-space: nowrap;
}

/* Profile page */

.profile-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.profile-list-content {
  width: 100%;
  display: table;
  flex: 2;
  display: flex;
  flex-direction: column;
}

.profile-content {
  width: 100%;
  flex: 4.5;
}

.profile-list-items {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-out;
}
.profile-list-items:hover {
  transition: all 0.2s ease-out;
}
.list-container {
  margin-top: 2rem;
  margin-left: 50%;
}

.profile-content-container {
  margin-top: 1rem;
}

.profile-pic {
  display: flex;
  justify-content: center;
}

.profile-pic-content {
  border-radius: 50%;
  background: url("../images/profile.jpg");
  background-size: cover;
  width: 200px;
  height: 200px;
}

.profile-content-main {
  border: 1px solid red;
  text-align: center;
  height: 200px;
  padding-top: 2rem;
}



/* CSS for login & Sign Up */

.auth-back
{
  width: 100%;
  min-height: calc(100vh - 5rem);
  z-index: 1;
  background-color: rgb(234, 243, 225);
}
.auth
{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  color:white;
  border: 2px solid red;
  background-color: black;
  padding:30px 30px 80px 30px;
  text-align: left;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.login-form
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form input{
  height:30px;
  width:400px;
  margin-top:10px;
  border-radius: 10px;
  color:rgb(10, 10, 10);
  background-color:white;
  box-shadow: 2px 3px 2px rgb(186, 218, 224);
}

.form-butt
{
  color:white;
  background-color: rgb(3, 12, 14);
  margin-top:20px;
  height:40px;
  font-size:25px;
  width: 200px;
  border-radius: 20px;
  box-shadow: 2px 3px 2px rgb(186, 218, 224);
}
